.sign-in-button{
    background:linear-gradient(120deg,white 0,5%,blue); 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'SF Regular';
    transition: all .2s ease;
   
}



.sign-in-button:hover{
   transform: scale(1.1);
}
