.university_info{
    min-height: 50vh;
    height: auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 251, 255);

}

.uni_info_box_wrapper{
    width: 960px; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}