.callback_modal{
   width: 620px;
    border-radius: 15px; 
    min-height: 560px;
    height:  auto;
    padding: 2rem;
    background: 
        radial-gradient(circle at 50% 0%, rgba(0, 0, 255, 0.5), transparent 50%),
        linear-gradient(to bottom, #000000, #000000);    
    overflow: hidden;
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    animation: show 1s 1 ease;
    color: white;


h2{
    font-size: 8rem;
    font-family: 'SF Pro';
    color: white;
}





 img{
    position: absolute;
    top: 0%;
    z-index: -1;
    filter: drop-shadow(0px 0px 10px blue);
 }
 

}



.hashtag{
    color: greenyellow ;
    font-family: 'SF Regular';
    font-size: 0.9rem;

    
}

.title{
    color: white;
      font-family: 'SF Regular';
      font-size: 1.5rem;
    width: 70%;
    text-align: center;
}

.subtitle{
  text-align: center;
}





.callback_modal_wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(5px);
}

.close{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.gift{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    color: white;
    font-family: 'SF Pro';
    position: relative;
    overflow: hidden;
    background: linear-gradient(120deg,white 0,1%,blue,greenyellow);
    cursor: pointer;
        &:after{
      content: '';
      width: 20px;
      height: 50px;
      background:white;
      left: 0;
      top: 0;
      position: absolute;
      filter: blur(15px);
      animation: slide 5s infinite linear;
     }
     
    :hover{
     
    }
}


@keyframes slide{

  0%{
    transform: translateX(-20px);
  }
  100%{
    transform: translateX(200px);
  }

}


@keyframes show{

  0%{
    opacity: 0;
  }
  100%{
 opacity: 1;
  }

}

@media only screen and (max-width: 620px){
    .callback_modal{
        width: 100%;
        padding: 1rem;
        min-height: 80vh;
        height: auto;
        gap: 20px;
    }
}