.modal{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
}

.modal_content{
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin: 0 20px;
    max-width: 500px; 
    color: white;
    position: relative;
    font-family: 'GeistVF'; 
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.modal_avatar{
    display: flex;
    align-items: center;
    gap: 5px;
}

.modal_close{

    align-self: flex-end;
    background: white;
    padding: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-family: 'SF Regular';
}